## Typical Scikit-Learn

## 0. End to end scikit workflow

In [2]:
import pandas as pd
import numpy as np

In [1]:
#1. getting data ready
import pandas as pd
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# create X and Y, drop everything except the target
# X feature matrix
X = heart_disease.drop("target", axis=1)

# Y (labels)
Y = heart_disease["target"]

In [4]:
#2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
#keeping the default params
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [20]:
#3. Fit the model to the data
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [21]:
clf.fit(X_train, Y_train);

In [12]:
#make a prediction
import numpy as np
Y_label = clf.predict(np.array([0,2,3,4]))

/Users/priyanshu/Documents/sample_project/env/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [22]:
y_preds = clf.predict(X_test)
y_preds

array([1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0])

In [23]:
#4 evaluate the model
clf.score(X_train, Y_train)

1.0

In [24]:
clf.score(X_test, Y_test)

0.7540983606557377

In [25]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(Y_test, y_preds))

              precision    recall  f1-score   support

           0       0.77      0.63      0.69        27
           1       0.74      0.85      0.79        34

    accuracy                           0.75        61
   macro avg       0.76      0.74      0.74        61
weighted avg       0.76      0.75      0.75        61

In [26]:
confusion_matrix(Y_test, y_preds)

array([[17, 10],
       [ 5, 29]])

In [27]:
accuracy_score(Y_test, y_preds)

0.7540983606557377

In [42]:
#5. improve the model
#try different amount of n_estimators
np.random.seed(50)
for i in range(10,100, 10):
    print(f"Trying model with {i} with estimators")
    clf = RandomForestClassifier(n_estimators = i).fit(X_train, Y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, Y_test) * 100:.2f}%")
    print(" ")

Trying model with 10 with estimators
Model accuracy on test set: 70.49%

Trying model with 20 with estimators
Model accuracy on test set: 75.41%

Trying model with 30 with estimators
Model accuracy on test set: 73.77%

Trying model with 40 with estimators
Model accuracy on test set: 75.41%

Trying model with 50 with estimators
Model accuracy on test set: 77.05%

Trying model with 60 with estimators
Model accuracy on test set: 75.41%

Trying model with 70 with estimators
Model accuracy on test set: 73.77%

Trying model with 80 with estimators
Model accuracy on test set: 75.41%

Trying model with 90 with estimators
Model accuracy on test set: 77.05%

In [43]:
#6. save the model
import pickle
pickle.dump(clf, open("random_forest.pkl","wb"))

In [44]:
loaded_model = pickle.load(open("random_forest.pkl", "rb"))
loaded_model.score(X_test, Y_test)

0.7704918032786885

## Getting data ready to be used with ML`

   # 1. Three main things we have to do:
        1. Split the data into features and labels ( usually X and Y)
        2. Filling (also called imputing) or disregarding missing values.
        3. Converting non-num values to num values also called feature encoding

In [3]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
X = heart_disease.drop("target", axis=1)

In [6]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [7]:
y = heart_disease["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [8]:
#splitting the data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
X_train.shape, y_train.shape

((242, 13), (242,))